<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.bitcamp.TFmapper.TFmapper">
  	<parameterMap type="java.util.HashMap" id="hashmap"></parameterMap>
  	<select id = "StoreCount" resultType="int" parameterMap="hashmap">
  		select count(*)
  		from StoreInfo
  		<where>
	  		<if test = "search==null and searchtxt=''">
	  			and StoreName like '%'||#{searchtxt}||'%' or StoreAddr1 like '%'||#{searchtxt}||'%' or
	  			StoreAddr2 like '%'||#{searchtxt}||'%' or StoreCategori like '%'||#{searchtxt}||'%'
	  		</if>
	  		<if test= "search!=null and searchtxt!=''" >
	  			and #{search} like %||'%'#{searchtxt}'%'
	  		</if>
  		</where>
  	</select>
  	
  	<select id = "StoreSearch" resultType = "com.bitcamp.TFService" parameterMap="hashmap">
  		select *
  		from StoreInfo
  		<where>
	  		<if test = "search==null and searchtxt=''">
	  			and StoreName like '%'||#{searchtxt}||'%' or StoreAddr1 like '%'||#{searchtxt}||'%' or
	  			StoreAddr2 like '%'||#{searchtxt}||'%' or StoreCategori like '%'||#{searchtxt}||'%'
	  		</if>
	  		<if test= "search!=null and searchtxt!=''" >
	  			and #{search} like %||'%'#{searchtxt}'%'
	  		</if>
  		</where>
  		<![CDATA[
  			oredr by StoreNo]]>
  		<![CDATA[
  			 limit ${startRow} offset ${endRow}]]>
  		
  	</select>
  </mapper>